
{% block fos_user_content %} 

{% trans_default_domain 'FOSUserBundle' %}

<h2> Détails du compte </h2>
<container>
<div class="fos_user_user_show">
    <p>{{ 'profile.show.username'|trans }}: {{ user.username }}</p>
    <p>{{ 'profile.show.email'|trans }}: {{ user.email }}</p>
    <p>Adresse: {{ user.adresse }}</p>
    <p>Téléphone: {{ user.telephone }}</p>
    <p>Site: <a href="http://www.{{ user.site }}">{{ user.site }}</a></p>
    <a href="{{ path('fos_user_profile_edit') }}"> <span class="glyphicon glyphicon-pencil" > Modifier</span></a>
</div>
</container>

{% endblock %}