{% extends 'AppartooUserBundle::layout.html.twig' %}

{% block body %}

     <h3>Ajout d'un contact</h3>
     <div class="alert alert-info">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        Veuillez renseigner un email de contact valide pour l'ajouter.
    </div>
    <div class="form-horizontal">
        <form action="{{ path("appartoo_contacts_add") }}" method="post">
            <div class="control-group">
                <input type="text" class="form-control" placeholder="Email du contact" aria-describedby="basic-addon1" id="email" name="email" required="required" />
            </div>
            <br>
            <button type="submit" class="btn btn-success btn-large">
                <i class="icon-plus icon-white"></i> Ajouter
                </button>
        </form>
</div>

{% endblock %}