{% extends "AppartooUserBundle::layout.html.twig" %}

{% block body %}
<h2>
    Suppression d'un contact
</h2>

    <p>Etes-vous sûr(e) de vouloir supprimer le contact {{contact.username}}?</p>
    <form action="{{ path('appartoo_contacts_delete', {'id': contact.id}) }}" method="post" >
        <p>
            <button name="confirm" type="submit" class="btn">
              <i class="icon-ok"></i>
              Confirmer la suppression
            </button>

            <button name="cancel" type="submit" class="btn">
             <i class="icon-remove"></i>
              Annuler
            </button>
        </p>
    </form>
{% endblock %}
