{% extends 'AppartooUserBundle::layout.html.twig' %}
{% block body %}
<h2> Détails du contact </h2>
<div class="panel panel-default">
  <ul>
    <li> Username : {{contact.username}} </li>
    <li> Email : {{contact.email}} </li>
    <li> Adresse : {{contact.adresse}} </li>
    <li> Téléphone : {{contact.telephone}} </li>
    <li> Site : {{contact.site}} </li>
</div>

{% endblock body %}