{% extends 'AppartooUserBundle::layout.html.twig' %}

{% block body %}
<h2> Annuaire </h2>
<div class="panel panel-default">
{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
  <div class="alert alert-info" role="alert">Naviguez dans le menu pour gérer votre annuaire </div>
{% else %}
  Veuillez vous <a href="{{ path('fos_user_security_login') }}">authentifier</a> pour acceder à votre annuaire.
{% endif %}
</div>

{% endblock body %}