{% extends 'AppartooUserBundle::layout.html.twig' %}
{% block body %}
{% if user %}
<h2> Contacts de {{ user.username }} </h2>
<div class="panel panel-default">

  <!-- Table -->
  <table class="table">
  	<tr>
		<th>Username</th>
		<th>Email</th>
		<th>Adresse</th>
		<th>Téléphone</th>
		<th>Site</th>
    <th>Supprimer</th>
    <th>Détails</th>
	</tr>
    {% for contact in user.contacts %}  
    	<tr href="{{ path("appartoo_user_contacts_view") }}">
    		<td>{{contact.username}}</td>
    		<td>{{contact.email}}</td>
    		<td>{{contact.adresse}}</td>
    		<td>{{contact.telephone}}</td>
    		<td>{{contact.site}}</td>
        <td> <a href="{{ path('appartoo_contacts_delete' , {'id': contact.id}) }}"><i class=" glyphicon glyphicon-trash"></i></a>

         </td>
         <td>
          <a href="{{ path('appartoo_contact_show' , {'id': contact.id}) }}"><i class=" glyphicon glyphicon-eye-open"></i></a>
        </td>
    	</tr>        
	{% endfor %}
  </table>
</div>
{% endif %}

{% endblock body %}